@import '../../stylesheets/mixins.scss';

.menu {
  &__container {
    @include flexContainer(flex, center, center, column);
    @include boxSize(100vh, 100%);
    position: fixed;
    top: 0;
    background-color: rgb(216, 216, 11);
  }

  &__items {
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    text-align: center;
    margin-top: -40px;
    width: 100%;
  }

  &__item {
    display: block;
    height: 70px;
  }

  &__language {
    display: block;
    position: absolute;
    bottom: 25px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
  }
}
