@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.menu {
  &__container {
    @include flexContainer(flex, center, center, column);
    @include boxSize(100vh, 100%);
    background-color: $beigeTransparency;
    position: fixed;
    top: 0;
    z-index: 6;

    @media all and (min-width: $tablet) {
      height: 70px;
      flex-flow: row wrap;
      transform: translate3d(0, 10px, 0);
    }
  }

  &__items {
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    text-align: center;
    margin-top: -40px;
    width: 100%;

    @media all and (min-width: $tablet) {
      padding-top: 35px;
    }
  }

  &__item {
    display: block;
    font-family: $font-tertiary;
    font-size: $fontSizeL;
    font-weight: bold;
    height: 70px;

    &:hover {
      font-size: 26px;
      color: $whiteMedium;
      transition: color ease 1s, font-size ease 1s;

      @media all and (min-width: $tablet) {
        font-size: 20px;
      }
    }

    &-link {
      color: $blackPure;
    }

    @media all and (min-width: $tablet) {
      width: 150px;
      margin: 0;
      display: inline-block;
      text-transform: uppercase;
      font-size: $fontSizeM;
    }
  }

  &__language {
    display: block;
    position: absolute;
    bottom: 25px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
  }
}

.open {
  transform: translateX(0);
  animation: appear 2s 1;

  @keyframes appear {
    0% {
      transform: translateX(100%);
    }
    10% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @media all and (min-width: $tablet) {
    animation: none;
  }
}

.close {
  transform: translateX(100%);

  @media all and (min-width: $tablet) {
    transform: translateX(0%);
  }
}
