@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.projects {
  &__container {
    @include flexContainer(flex, center, center, column);
    @include boxSize(unset, 100%);
    background-color: $violetPure;
    padding-top: 70px !important;
  }

  &__types {
    @include flexContainer(flex, center, center, row);
  }

  &__type {
    @include subsectionStyle;

    &:hover {
      background-color: $whiteMedium;
    }

    @media all and (min-width: $laptop) {
      font-size: $fontSizeL;
    }
  }
}
