@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.soft-skills {
  &__container {
    @include flexContainer(flex, center, flex-start, column);
    @include boxSize(unset, 100%);
    background-color: $whitePure;
  }

  &__list {
    @include boxSize(unset, 100%);
  }

  &__skill {
    @include boxStyle(5px);
    @include boxSize(50px, 80%);
    border: 2px solid $blackPure;
    padding: 10px;
    margin: 10px auto;
  }
}
