@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.publication-card {
  &__container {
    @include boxSize(100vh, 250px);
    @include flexContainer(flex, center, center, column);
    margin: 20px auto;
  }

  &__name {
    font-family: $font-secondary;
    display: inline;
  }

  &__language {
    display: inline;
    @include boxSize(30px, 30px);
    margin-left: 10px;
    padding-top: 10px;
  }

  &__description {
    font-size: $fontSizeXS;
    line-height: 25px;
  }

  &__link {
    @include linkBoxStyle;
  }
}
