@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.project-card {
  &__container {
    @include boxSize(unset, 250px);
    @include flexContainer(flex, center, center, column);
    margin: 20px auto;
  }

  &__image {
    @include boxStyle(0);
    @include boxSize(130px, 100%);
    margin-bottom: 20px;
  }

  &__content {
    @include flexContainer(flex, flex-start, flex-start, column);
  }

  &__name {
    font-family: $font-secondary;
  }

  &__description {
    font-size: $fontSizeXS;
    line-height: 25px;
  }

  &__links {
    @include flexContainer(flex, flex-start, flex-start, row);
    @include boxSize(unset, 100%);
    margin: 10px auto;
  }

  &__link {
    @include linkBoxStyle;
    margin-right: 10px;
  }
}
