@import "../../stylesheets/variables.scss";
@import "../../stylesheets/mixins.scss";

.social__icon {
  @include boxSize(60px, 60px);

  &:hover {
    @include boxSize(62px, 62px);

    @media all and (min-width: $tablet) {
      @include boxSize(32px, 32px);
    }
  }

  @media all and (min-width: $tablet) {
    @include boxSize(30px, 30px);
  }
}

.gmail,
.linkedin {
  padding-top: 30px;

  @media all and (min-width: $tablet) {
    padding: 0;
  }
}

.github,
.twitter {
  padding-bottom: 30px;

  @media all and (min-width: $tablet) {
    padding: 0;
  }
}
