@mixin flexContainer($display, $justifyContent, $alignItems, $flexDirection) {
  display: $display;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}

@mixin boxSize($height, $width) {
  height: $height;
  width: $width;
}

@mixin boxStyle {
  box-shadow: 0 2px 25px 2px $niceBlueShadow;
  border-radius: 5px;
}

@mixin backgroundImage($url, $positionX, $positionY, $repeat, $color, $size) {
  background: url($url) $positionX $positionY $repeat $color;
  background-size: $size;
}
