//FONT-TYPE
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Permanent Marker', cursive;

//FONT-SIZE
$fontSizeXS: 12px;
$fontSizeS: 16px;
$fontSizeM: 18px;
$fontSizeL: 24px;
$fontSizeXL: 32px;

//COLOURS
$whitePure: #ffffff;
$blackPure: #000000;
$niceBlueShadow: #2d364c29;
$aquaGreen: #53f589;

// MEDIA QUERIES
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
