@import "../../stylesheets/mixins.scss";
@import "../../stylesheets/variables.scss";

.contact {
  &__container {
    @include flexContainer(flex, center, center, column);
    @include boxSize(100vh, 100%);
    border-top: 3px solid $blackPure;
    background-color: $whiteMedium;
    position: relative;
  }

  &__title {
    order: 2;
    animation: grow 8s infinite;

    @keyframes grow {
      0% {
        font-size: 30px;
        color: $blackTransparency;
      }
      50% {
        font-size: $fontSizeXL;
        color: $blackTransparency;
      }
      100% {
        font-size: 30px;
      }
    }
  }

  &__social-list {
    @include flexContainer(flex, space-around, center, row);
    @include boxSize(unset, 100%);
    margin-bottom: 40px;
    order: 1;

    @media all and (min-width: $tablet) {
      width: 50%;
      justify-content: space-evenly;
    }
  }

  &__home {
    @include boxSize(30px, 30px);
    @include backgroundImage(
      "https://res.cloudinary.com/cterrasid/image/upload/v1562772848/my_portfolio/arrow-in-circle-point-to-up_e9a7i5.svg",
      center,
      center,
      no-repeat,
      $whitePure,
      cover
    );
    border-radius: 100%;
    position: absolute;
    bottom: 40px;
    order: 3;
    animation: up 3s infinite;

    @keyframes up {
      0% {
        transform: translateY(100%);
      }
      10% {
        transform: translateY(50%);
      }
      100% {
        transform: translateY(100%);
      }
    }

    @media all and (min-width: $tablet) {
      @include boxSize(50px, 50px);
      bottom: 80px;
    }
  }
}

svg#clouds {
  @include boxSize(30px, 100%);
  position: absolute;
  top: -30px;
}

#clouds path {
  fill: $whiteMedium;
  stroke: $whiteMedium;
}
