@import './stylesheets/variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: $font-primary;
}

body{
  height: 100%;
}

.title{
  font-size: $fontSizeXL;
  font-family: $font-secondary;
  margin: 0 auto 20px auto;
}

.section{
  padding: 10px 30px 10px 30px;
}
