@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.projects-individual {
  &__container {
    @include flexContainer(flex, center, center, column);
    @include boxSize(unset, 100%);
    padding: 30px 0;

    @media all and (min-width: $tablet) {
      flex-flow: row wrap;
      width: 100%;
    }

    @media all and (min-width: $laptop) {
      flex-direction: column;
    }
  }
}
